.super-mario {
    width: 150px;
    position:absolute;
    top: 150px;
  }
  
  .goomba {
    width: 80px;
    position: absolute;
    top: 380px;
    left:100px;
  }
  
  .baloon {
      position:absolute;
      width: 250px;
      left: 220px;
      top: 200px;
      z-index: 1;
  
  }
  
  .speach {
      position:absolute;
     font-size: 20px;
        width: 250px;
        left: 240px;
        top: 240px;
        z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position:absolute;
    top: 330px;
    left: 450px;
  }